.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transform: scale(1.05);
  }
  
  .slide.active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out, transform 8s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  